<form method="GET" action="/create-dog" >
    <div>
        <label>Name</label>
        <input name="dog_name" type="text" />
    </div>
    <div>
        <label>Image URL</label>
        <input name="dog_image" type="text" />
    </div>
    <input type="submit">
</form>